*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

/* INDEX STYLING */

.wrapper-index{
    display: grid;
    min-height: 100vh;

    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    
}

.header-index{
    /* border: 1px solid red; */
    background-color: white;
    grid-row: 1/3;
    grid-column: 2/3;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-family: 'Trajan Pro 3';
    font-size: larger;
    
}

cite{
    /* border: 1px solid red; */
    background-color: white;
    grid-row: 3/4;
    grid-column: 2/3;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.a-index{
    background-color: black;
    color: white;

    grid-row: 4/5;
    grid-column: 2/3;

    padding: 8px 15px;

    margin: auto;

    
}

.footer-index{
    /* border: 1px solid red; */
    background-color: white;
    grid-row: 5/6;
    grid-column: 2/3;

    margin: auto;
}

.footer-index img{
    width: 40px;
}

.footer-index img:hover{
    filter: invert();
    
}

img{
    grid-row: 1/6;
    grid-column: 1/2;

    height: 100%;
    width: 100%;
}

/* WORK STYLING */
.wrapper-work{
    display: grid;
    min-height: 100vh;

    grid-template-columns: 67% auto;
    grid-template-rows: 9rem auto 4rem;
}

header{
    border: 1px solid red;
    background-color: white;
    grid-row: 1/2;
    grid-column: 1/2;

    font-family: 'Trajan Pro 3';

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

nav{
    border: 1px solid red;
    background-color: white;
    grid-row: 1/2;
    grid-column: 2/3;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    align-items: center;
}

nav a{
    color: black;
    text-decoration: none;
    font-family: 'Trajan Pro 3';
    font-size: 9px;
    font-weight: lighter;

    padding: 0 1rem;
}

main{
    border: 1px solid red;
    background-color: white;
    grid-row: 2/3;
    grid-column: 1/3;
}

.footer-general{
    border: 1px solid red;
    background-color: white;
    grid-row: 3/4;
    grid-column: 1/2;

    padding-right: 0rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
}

.footer-general img{
    width: 20px;
    height: auto;
}

.footer-general img:hover{
    filter: invert();
    
}

/* ABOUT STYLING */

/* CONTACT STYLING */

